<header class="intro-header" id="comment-header">
    <div class="container container-custom">
        <div class="row">
            <div class="col-lg-10 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1 class="article-titlde">Parlez-nous</h1>
                    <hr class="small">
                    <span class="subheading">&nbsp;</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="row commentList dark-bg paddingT15">
  <div class="col-md-11 col-md-offset-1">
    <%= render 'comments/create', review: Comment.new() %>
  </div>
  <div class="row paddingL15" id="comments">
    <% @comments.each do |comment| %>
      <div class="row no-marginL no-marginR paddingL15">
        <div class="col-xs-6 col-md-offset-1 comment-card ">
          <h4><%= comment.author %>&nbsp;<small><%= comment.created_at.strftime("%F %T") %></small></h4>
          <p class="comment-text"><%= comment.body %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
