<header class="intro-header" id="comment-header">
    <div class="container container-custom">
        <div class="row">
            <div class="col-lg-10 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1 class="article-titlde">Contactez-nous</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<%= render 'comments/commentList', review: Comment.new() %>
