<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li>
                  <%= link_to "Acceuil", root_path, class: cp(root_path) %>
                </li>
                <li>
                    <%= link_to "Carte", map_path, class: cp(map_path) %>
                </li>
                <li>
                  <%= link_to "Parlez-nous", talktous_path, class: cp(talktous_path) %>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
